<% include partials/header %>
<div class="container">
        <br>
        <br>
    <h1>
        <center>Edit Data</center>
    </h1>

    <div class="jumbotron">

        <form class="form-horizontal" action="" method="post">
           
            <div class="form-group">
                <div>
                    <input type="id" class="form-control" id="id" name="id" placeholder="ID" value="<%= parseInt(id) + 1 %>" readonly>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="string" class="form-control" id="string" name="string" placeholder="String" value="<%= item.string %>">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="integer" class="form-control" id="integer" name="integer" placeholder="Integer" value="<%= item.integer %>">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="float" class="form-control" id="float" name="float" placeholder="Float" value="<%= item.float %>">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="date" value="2017-06-01" class="form-control" id="date" name="date" placeholder="Date" value="<%= item.date %>">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <select type="boolean" class="form-control" id="boolean" name="boolean" value="<%= item.boolean %>">
                        <option value="TRUE">TRUE</option>
                        <option value="FALSE">FALSE</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>

    </div>
    
    </form>

</div>
<% include partials/footer %>